footer {
  bottom: 0;
  padding-bottom: 3px;
  position: fixed;
}

.recomendation-menu {
  background-color: #333;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.recomendation-menu .recomendation-card {
  color: white;
  display: inline-block;
  overflow: hidden;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.recomendation-menu .recomendation-card:hover {
  background-color: #777;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}
